Options -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~mase13/phpmvc/kmomo7/Mvcframe/06/
  RewriteBase /~mase13/phpmvc/kmom08/Mvcframe/06
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>